body{    
    background: linear-gradient(to bottom, #ff7e5f, #80400f); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: beige;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    
}



.botonPrincipio{
    height: 35px;
    width: 35px;
    border-radius: 20px;
    background-image: url(../images/flechaArriba.png);
    background-color:rgb(223, 229, 240);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    top: 45%;
    right: 30px;
    transition: 1s;
}
#prin2{
    background-image: url(../images/flechaAbajo.png);
    top: 55%;
}


p{
    margin-left: 5%;
    margin-right: 5%;
}
.botonPrincipio:hover{
    transform: translateY(-4px);
    background-color: rgb(145, 145, 145);
}
#prin2:hover{
    transform: translateY(4px);
}
 


.Producto{
    color: black;
    max-width: 45%;
    max-width: 40%;
    padding: 10px;
    margin: 100px;
    

    transition: 1.5s;
}

.Producto:hover{
    color:rgb(165, 165, 165);
    background-color: black;
    opacity: 0.60;

    border-radius: 10px;
}


@media (max-width: 450px){
    h1{
        font-size: 25px;
    }
    .botonPrincipio{
        height: 30px;
        width: 30px;
        border-radius: 10px;
    }
}