body{
    background: linear-gradient(to bottom, gray, black); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: beige;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
}


p{
    margin-left: 5%;
    margin-right: 5%;
}

details summary {
    cursor: pointer;
    padding: 10px;
    margin: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    color: #333;
    margin-left: 5%;
    margin-right: 5%;
    transition-duration: 1s;
}

details summary:hover {
    background-color: #e0e0e0;
    border-radius: 80px;
}



@media (max-width: 450px){
    iframe{
        width: 70%;
        height: 80%;
    }
}