body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

header{
    display: flex;
    min-height: 70px;
    border-radius: 10px;
    background-color:#b0b0b0;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    margin: 10px;
    font-weight: 600;
    padding: 10px;
    transition-duration: 1s;
}

nav a:hover{
    color: rgb(189, 95, 60);
}

.botonFlotante{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-image: url(../images/wpp.png);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: lightgreen;
    position: fixed;
    bottom: 30px;
    right: 25px;
    transition: 1.5s ease;
}
.botonFlotante:hover{
    height: 55px;
    width: 55px;
    border-radius: 55px;
    background-color: darkgreen;
    transform: translateY(-8px);
}

.piePagina{
    height: 100px;
    border-radius: 10px;
    background-color:#b0b0b0;
    padding: 20px;
    margin-top: 20px;
    z-index: -1;
    

}



@media (max-width: 700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px;
    }
    .piePagina{
        height: 30%;
    }
    .piePagina img{
        height: auto;
        width: auto;
    }

}
@media (max-width: 500px){
    .botonFlotante{
        height: 35px;
        width: 35px;
        border-radius: 35px;
    }
}